<template>
  <div>
    <j-title-header :options="title"/>
    <j-tabs :tabs="tabs">
      <div
        id="containertabsDailyLog"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component :is="i.comp.name"/>
        </div>
      </div>
    </j-tabs>
    <router-view/>
  </div>
</template>

<script>
import jMyCalendar from '@/views/sales/daily-log/my-calendar/jMyCalendar';
import jMyTeam from '@/views/sales/daily-log/my-team/jMyTeam';


export default {
  // eslint-disable-next-line
  name: 'jGlobalDailyLog',
  components: {
    jMyCalendar,
    jMyTeam,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'Daily Log',
        opt_title: 'Administrator',
      },
      tabs: [
        {
          idTab: 'tab-my-calendar', title: 'My Calendar', idComp: 'comp-my-calendar', comp: jMyCalendar, isShow: true,
        },
        {
          idTab: 'tab-my-team', title: 'My Team', idComp: 'comp-my-team', comp: jMyTeam, isShow: true,
        },
      ],
    };
  },
};
</script>
