<template>
  <div>
    <b-modal
      ref="createReminder"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row"
        @click="$router.replace('/config/activity-type')">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"/>
        </div>
      </div>

      <jReminderForm
        ref="form"
        mode="create"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveCreateReminder">
        CREATE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jReminderForm from '@/components/form/reminder/jReminderForm';
import { jMixModelCreateReminder } from '@/mixins/models/reminder/jMixModelCreateReminder';

export default {
  components: {
    jReminderForm,
  },

  mixins: [
    jMixModelCreateReminder,
  ],

  data() {
    return {
      reminder_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveCreateReminder() {
      this.$refs.form.save();
      if (this.reminder_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.reminder_data = data;
    },

    show() {
      this.$refs.createReminder.show();
    },
  },

};
</script>
