<template>
  <div>
    <b-form-group :class="{'error-input' : $v.measure_data.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="$v.measure_data.name.$model"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>

    <b-form-group :class="{'error-input' : $v.measure_data.description.$error}">
      <label>Description*</label>
      <j-input
        v-model="$v.measure_data.description.$model"
        placeholder="Description"/>
    </b-form-group>
  </div>
</template>

<script>
import { jMixValidationFormMeasure } from '@/mixins/validations/measure/jMixValidationFormMeasure';
import { jMixOptionsFormMeasure } from '@/mixins/list-options/measure/jMixOptionsFormMeasure';
import { jMixModeEditMeasure } from '@/mixins/mode/measure/jMixModeEditMeasure';


export default {
  mixins: [
    jMixValidationFormMeasure,
    jMixOptionsFormMeasure,
    jMixModeEditMeasure,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      measure_data: {
        id: 0,
        name: null,
        description: null,
      },
    };
  },
  methods: {
    save() {
      this.$v.measure_data.$touch();
      if (!this.$v.measure_data.$error) {
        this.$emit('data', this.measure_data);
      } else {
        this.$emit('data', null);
      }
    },
  },
};
</script>
