<template>
  <div>
    <b-form-group :class="{'error-input' : $v.goal_data.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="$v.goal_data.name.$model"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>
    <div class="row">
      <div class="col-4">
        <b-form-group :class="{'error-input' : $v.goal_data.activity_type_id.$error}">
          <label>Parameter*</label>
          <j-single-select
            v-model="$v.goal_data.activity_type_id.$model"
            :options="goal_state.parameter_options"
            label="name"
            value-format="id"
            placeholder="Select Parameter"/>
        </b-form-group>
      </div>
      <div class="col-4">
        <b-form-group :class="{'error-input' : $v.goal_data.value.$error}">
          <label>Amount*</label>
          <j-input
            v-model.number="$v.goal_data.value.$model"
            :max-length="50"
            placeholder="Amount"/>
        </b-form-group>
      </div>
      <div class="col-4">
        <b-form-group :class="{'error-input' : $v.goal_data.type.$error}">
          <label>Type*</label>
          <j-single-select
            v-model="$v.goal_data.type.$model"
            :options="goal_type_options"
            label="name"
            value-format="id"
            placeholder="Select Type"/>
        </b-form-group>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <b-form-group :class="{'error-input' : $v.goal_data.division.$error}">
          <label>Division*</label>
          <j-multi-select
            v-if="mode === 'create' || goal_state.division_options.length > 0"
            v-model="$v.goal_data.division.$model"
            :is-async="true"
            :load-options="loadDivisionOptions"
            :default-options="goal_state.division_options.length > 0 ?
            goal_state.division_options : false"
            label="name"
            placeholder="Type Division Name"/>
        </b-form-group>
      </div>
      <div class="col-6">
        <b-form-group :class="{'error-input' : $v.goal_data.period_type.$error}">
          <label>Period*</label>
          <j-single-select
            v-model="$v.goal_data.period_type.$model"
            :options="period_type_options"
            label="name"
            value-format="id"
            placeholder="Select Period"/>
        </b-form-group>
      </div>
    </div>
  </div>
</template>

<script>
import { jMixValidationFormGoals } from '@/mixins/validations/goals/jMixValidationFormGoals';
import { jMixOptionsFormGoals } from '@/mixins/list-options/goals/jMixOptionsFormGoals';
import { jMixModeEditGoals } from '@/mixins/mode/goals/jMixModeEditGoals';


export default {
  mixins: [
    jMixValidationFormGoals,
    jMixOptionsFormGoals,
    jMixModeEditGoals,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      goal_data: {
        id: 0,
        name: null,
        activity_type_id: null,
        value: null,
        type: null,
        division: [],
        period_type: null,
      },
    };
  },
  methods: {
    save() {
      this.$v.goal_data.$touch();
      if (!this.$v.goal_data.$error) {
        this.$emit('data', this.goal_data);
      } else {
        this.$emit('data', null);
      }
    },
  },
};
</script>
