<template>
  <div>
    <b-form-group :class="{'error-input' : $v.source_data.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="$v.source_data.name.$model"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>
    <b-form-group :class="{'error-input' : $v.source_data.icon.$error}">
      <label>Icon</label>
      <j-single-select
        v-model="$v.source_data.icon.$model"
        :options="icon_options"
        :custom="true"
        placeholder="Select Icon">
        <template
          slot-scope="node"
          slot="node-custom">
          <img
            :src="require(`@/assets/icon/${ node.node.id }.png`)"
            style="width:20px;height:20px;margin:5px;">

        </template>

        <template
          slot-scope="node"
          slot="node-custom">
          <img
            :src="require(`@/assets/icon/${ node.node.id }.png`)"
            style="width:20px;height:20px;margin:5px;">

        </template>
      </j-single-select>
    </b-form-group>
  </div>
</template>

<script>
import { jMixValidationFormSource } from '@/mixins/validations/source/jMixValidationFormSource';
import { jMixOptionsFormSource } from '@/mixins/list-options/source/jMixOptionsFormSource';
import { jMixModeEditSource } from '@/mixins/mode/source/jMixModeEditSource';

export default {
  mixins: [
    jMixValidationFormSource,
    jMixOptionsFormSource,
    jMixModeEditSource,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      source_data: {
        id: 0,
        name: null,
        icon: null,
      },
    };
  },
  methods: {
    save() {
      this.$v.source_data.$touch();
      if (!this.$v.source_data.$error) {
        this.$emit('data', this.source_data);
      } else {
        this.$emit('data', null);
      }
    },
  },
};
</script>
