<template>
  <div>
    <b-modal
      ref="editReminder"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/activity-type')"/>
        </div>
      </div>

      <jReminderForm
        ref="form"
        mode="edit"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveUpdateReminder">
        SUBMIT
      </b-button>
      <b-button
        class="btn red"
        @click="deleteData">
        DELETE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jReminderForm from '@/components/form/reminder/jReminderForm';
import { jMixModelEditReminder } from '@/mixins/models/reminder/jMixModelEditReminder';
import { jMixModelDeleteReminder } from '@/mixins/models/reminder/jMixModelDeleteReminder';

export default {
  components: {
    jReminderForm,
  },

  mixins: [
    jMixModelEditReminder,
    jMixModelDeleteReminder,
  ],

  data() {
    return {
      reminder_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveUpdateReminder() {
      this.$refs.form.save();
      if (this.reminder_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.reminder_data = data;
    },

    show() {
      this.$refs.editReminder.show();
    },
  },

};
</script>
