<template>
  <div class="custom-search-table">
    <v-server-table
      v-show="load_first"
      ref="measureServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick">

      <div
        slot="beforeFilter"
        class="custom-search m__b--10">
        <b-row>
          <b-col cols="7">
            <j-input
              v-model="filter_measure"
              @keyup.13.native="customFilter(filter_measure)"/>
          </b-col>
          <b-col
            class="p__l--10"
            cols="5">
            <b-button
              class="btn blue outline"
              @click="customFilter(filter_measure)">
            <i class="fa fa-search bold" /> Search </b-button>
          </b-col>
        </b-row>
      </div>

      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <br><br><br><br>

    <jDeleteMeasure
      ref="floating"
      :selected-rows="selected_rows"
      @finish="measureDeleted"
      @close-floating="closeFloating" />
  </div>
</template>

<script>
// import { mapActions, mapState, mapMutations } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import { jMixPaginationMeasure } from '@/mixins/paginations/measure/jMixPaginationMeasure';
import jDeleteMeasure from '@/views/config/product/unit-of-measure/delete-measure/jDeleteMeasure';

export default {
  components: {
    jDeleteMeasure,
    jLoadingTable,
  },
  mixins: [
    jMixPaginationMeasure,
  ],
  methods: {
    measureDeleted() {
      this.selected_rows = [];
      this.refreshTable();
    },
    onRowClick(data) {
      this.$router.replace(`/config/product/measure/edit/${data.row.id}`);
    },
    closeFloating() {
      this.selected_rows = [];
    },
  },
};
</script>
