<template>
  <div>
    <j-title-header :options="title"/>
    <jSourceList/>
    <div class="create-period float-to-right">
      <label
        class="btn blue"
        style="cursor:pointer"
        @click="$router.replace('/config/source/create')">
        + Add Source
      </label>
    </div>
    <router-view/>
  </div>
</template>

<script>
import jSourceList from './list-source/jSourceList';

export default {
  // eslint-disable-next-line
  name: 'jSource',
  components: {
    jSourceList,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'SOURCE',
        opt_title: 'Administrator',
      },
    };
  },
};
</script>
