<template>
  <div>
    <j-title-header :options="title"/>
    <j-tabs :tabs="tabs">
      <div
        id="containertabsProduct"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component :is="i.comp.name"/>
        </div>
      </div>
    </j-tabs>
    <router-view/>
  </div>
</template>

<script>
import jProduct from '@/views/config/product/main/jProduct';
import jMeasure from '@/views/config/product/unit-of-measure/jMeasure';


export default {
  // eslint-disable-next-line
  name: 'jGlobalProduct',
  components: {
    jProduct,
    jMeasure,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'PRODUCT',
        opt_title: 'Administrator',
      },
      tabs: [
        {
          idTab: 'tab-product', title: 'Product', idComp: 'comp-product', comp: jProduct, isShow: true,
        },
        {
          idTab: 'tab-measure', title: 'Measure', idComp: 'comp-measure', comp: jMeasure, isShow: true,
        },
      ],
    };
  },
};
</script>
