<template>
  <div>
    <j-title-header :options="title"/>
    <jOpportunityList
      v-if="show"
      @toggleShow="toggleShow"/>
    <router-view/>
  </div>
</template>

<script>
import jOpportunityList from './list-opportunity/jOpportunityList';

export default {
  // eslint-disable-next-line
  name: 'jGlobalOpportunity',
  components: {
    jOpportunityList,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'Opportunity',
        opt_title: 'Administrator',
      },
      show: null,
    };
  },
  watch: {
    // eslint-disable-next-line
    '$route.path'(val) {
      if (val === '/sales/opportunity') {
        this.show = true;
      } else {
        this.show = false;
      }
    },
  },
  beforeMount() {
    if (this.$route.path === '/sales/opportunity') {
      this.show = true;
    } else {
      this.show = false;
    }
  },
  methods: {
    createOpportunity() {
      this.show = false;
      this.$router.replace('/sales/opportunity/create');
    },
    toggleShow(val) {
      this.show = val;
    },
  },
};
</script>
