<template>
  <div>
    <b-modal
      ref="editProduct"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/product')"/>
        </div>
      </div>

      <jProductForm
        ref="form"
        mode="edit"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveUpdateProduct">
        SUBMIT
      </b-button>
      <b-button
        class="btn red"
        @click="deleteData">
        DELETE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jProductForm from '@/components/form/product/jProductForm';
import { jMixModelEditProduct } from '@/mixins/models/product/jMixModelEditProduct';
import { jMixModelDeleteProduct } from '@/mixins/models/product/jMixModelDeleteProduct';

export default {
  components: {
    jProductForm,
  },

  mixins: [
    jMixModelEditProduct,
    jMixModelDeleteProduct,
  ],

  data() {
    return {
      product_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveUpdateProduct() {
      this.$refs.form.save();
      if (this.product_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.product_data = data;
    },

    show() {
      this.$refs.editProduct.show();
    },
  },

};
</script>
