<template>
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-5">
        <b-form-group :class="{'error-input' : $v.leads_data.name.$error}">
          <label>Company Name*</label>
          <j-input
            v-model="$v.leads_data.name.$model"
            :max-length="50"
            :disabled="mode === 'detail'"
            placeholder="Company Name"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : false}">
          <label>Office Phone</label>
          <j-input
            v-model="leads_data.phone_no"
            :max-length="50"
            :disabled="mode === 'detail'"
            placeholder="Office Phone"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : $v.leads_data.legal_name.$error}">
          <label>Legal Name*</label>
          <j-input
            v-model="$v.leads_data.legal_name.$model"
            :max-length="50"
            :disabled="mode === 'detail'"
            placeholder="Legal Name"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : $v.leads_data.lead_source.$error}">
          <label>Lead Source*</label>
          <j-single-select
            v-model="$v.leads_data.lead_source.$model"
            :options="source_options"
            :disabled="mode === 'detail'"
            label="name"
            value-format="id"
            placeholder="Select Lead Source"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : $v.leads_data.leads_company_group_id.$error}">
          <label>Company Group*</label>
          <j-single-select
            v-model="$v.leads_data.leads_company_group_id.$model"
            :options="group_options"
            :disabled="mode === 'detail'"
            label="name"
            value-format="id"
            placeholder="Select Company Group"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : $v.leads_data.industry_id.$error}">
          <label>Industry*</label>
          <j-single-select
            v-model="$v.leads_data.industry_id.$model"
            :options="industry_options"
            :disabled="mode === 'detail'"
            label="name"
            value-format="id"
            placeholder="Select Industry"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : $v.leads_data.address.$error}">
          <label>Address*</label>
          <j-textarea
            v-model="$v.leads_data.address.$model"
            :disabled="mode === 'detail'"
            placeholder="Address"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : $v.leads_data.no_of_employee.$error}">
          <label>Company Size*</label>
          <j-input
            v-model="$v.leads_data.no_of_employee.$model"
            :max-length="50"
            :disabled="mode === 'detail'"
            placeholder="Company Size"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : false}">
          <label>Country</label>
          <j-single-select
            v-model="leads_data.country_id"
            :options="country_options"
            :disabled="mode === 'detail'"
            label="name"
            value-format="id"
            placeholder="Select Country"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : false}">
          <label>Province</label>
          <j-single-select
            v-model="leads_data.province_id"
            :options="province_options"
            :disabled="mode === 'detail'"
            label="name"
            value-format="id"
            placeholder="Select Province"/>
        </b-form-group>
      </div>
      <div class="col-5">
        <label>Contact Person*</label><br>
        <div
          v-for="(pic, index) in leads_data.pic"
          :key="index">
          <div
            class="m__b--10"
            style="border: 1px solid; border-radius: 10px; padding: 5px;">
            {{ pic.name }}, {{ pic.title }} <br>
            {{ pic.phone_no }} <br>
            {{ pic.email }}
          </div>
        </div>
        <b-button
          v-if="!add_contact && mode !== 'detail'"
          class="float-left btn blue outline btn-round-30 m__b--10"
          @click="add_contact = !add_contact">
          <i
            class="fa fa-plus"
            style="cursor: pointer; color: blue;"/>
        </b-button>
      </div>
      <div class="col-5">
        <b-form-group :class="{'error-input' : false}">
          <label>City</label>
          <j-single-select
            v-model="leads_data.city_id"
            :options="city_options"
            :disabled="mode === 'detail'"
            label="name"
            value-format="id"
            placeholder="Select City"/>
        </b-form-group>
      </div>
      <div
        v-if="add_contact"
        class="col-10">
        <div class="row">
          <div class="col-6">
            <b-form-group :class="{'error-input' : $v.pic_data.name.$error}">
              <label>Name*</label>
              <j-input
                v-model="$v.pic_data.name.$model"
                :max-length="50"
                placeholder="Name"/>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group :class="{'error-input' : $v.pic_data.phone_no.$error}">
              <label>Phone Number*</label>
              <j-input
                v-model="$v.pic_data.phone_no.$model"
                :max-length="50"
                placeholder="Phone Number"/>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group :class="{'error-input' : $v.pic_data.title.$error}">
              <label>Title*</label>
              <j-input
                v-model="$v.pic_data.title.$model"
                :max-length="50"
                placeholder="Title"/>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group :class="{'error-input' : $v.pic_data.email.$error}">
              <label>Email*</label>
              <j-input
                v-model="$v.pic_data.email.$model"
                :max-length="50"
                placeholder="Email"/>
            </b-form-group>
          </div>
          <div class="col-6">
            <j-singleupload
              :api-token="token"
              :accepted-file-type="['jpg', 'png', 'jpeg', 'bmp']"
              :img-default="image_default"
              class="p__b--20"
              url-upload="//qa-api-core.jojonomic.id/file"
              @url="getIt"/>
          </div>
          <div class="col-12">
            <b-button
              class="btn gray float-right m__l--5"
              @click="add_contact = !add_contact">
              CANCEL
            </b-button>
            <b-button
              class="btn blue float-right"
              @click="addPIC">
              CREATE CONTACT PERSON
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { jMixValidationFormLeads } from '@/mixins/validations/leads/jMixValidationFormLeads';
import { jMixOptionsFormLeads } from '@/mixins/list-options/leads/jMixOptionsFormLeads';
import { jMixModeDetailLeads } from '@/mixins/mode/leads/jMixModeDetailLeads';
import Vue from 'vue';

export default {
  mixins: [
    jMixValidationFormLeads,
    jMixOptionsFormLeads,
    jMixModeDetailLeads,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      token: Vue.ls.get('Token'),
      add_contact: false,
      leads_data: {
        id: 0,
        name: null,
        legal_name: null,
        leads_company_group_id: null,
        phone_no: null,
        lead_source: null,
        industry_id: null,
        address: null,
        no_of_employee: null,
        city_id: null,
        province_id: null,
        country_id: null,
        pic: [],
      },
      pic_data: {
        name: null,
        title: null,
        phone_no: null,
        email: null,
        image_url: '',
      },
    };
  },
  computed: {
    image_default() {
      if (this.pic_data.image_url.length > 2) {
        return this.pic_data.image_url;
      }
      return 'http://www.hope3k.net/images/placeholders/team-placeholder.jpg';
    },
  },
  methods: {
    save() {
      this.$v.leads_data.$touch();
      if (!this.$v.leads_data.$error) {
        this.$emit('data', this.leads_data);
      } else {
        this.$emit('data', null);
      }
    },
    addPIC() {
      const data = {
        name: this.pic_data.name,
        title: this.pic_data.title,
        phone_no: this.pic_data.phone_no,
        email: this.pic_data.email,
        image_url: this.pic_data.image_url,
      };
      this.pic_data.name = null;
      this.pic_data.title = null;
      this.pic_data.phone_no = null;
      this.pic_data.email = null;
      this.pic_data.image_url = '';

      this.add_contact = false;

      this.leads_data.pic.push(data);
    },
    getIt(data) {
      this.pic_data.image_url = data;
    },
  },
};
</script>
