<template>
  <div>
    <b-modal
      ref="createMeasure"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row"
        @click="$router.replace('/config/product')">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"/>
        </div>
      </div>

      <jMeasureForm
        ref="form"
        mode="create"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveCreateMeasure">
        CREATE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jMeasureForm from '@/components/form/measure/jMeasureForm';
import { jMixModelCreateMeasure } from '@/mixins/models/measure/jMixModelCreateMeasure';

export default {
  components: {
    jMeasureForm,
  },

  mixins: [
    jMixModelCreateMeasure,
  ],

  data() {
    return {
      measure_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveCreateMeasure() {
      this.$refs.form.save();
      if (this.measure_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.measure_data = data;
    },

    show() {
      this.$refs.createMeasure.show();
    },
  },

};
</script>
