<template>
  <div>
    <b-modal
      ref="editPolicy"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/activity-type')"/>
        </div>
      </div>

      <jPolicyForm
        ref="form"
        mode="edit"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveUpdatePolicy">
        SUBMIT
      </b-button>
      <b-button
        class="btn red"
        @click="deleteData">
        DELETE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jPolicyForm from '@/components/form/policy/jPolicyForm';
import { jMixModelEditPolicy } from '@/mixins/models/policy/jMixModelEditPolicy';
import { jMixModelDeletePolicy } from '@/mixins/models/policy/jMixModelDeletePolicy';

export default {
  components: {
    jPolicyForm,
  },

  mixins: [
    jMixModelEditPolicy,
    jMixModelDeletePolicy,
  ],

  data() {
    return {
      policy_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveUpdatePolicy() {
      this.$refs.form.save();
      if (this.policy_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.policy_data = data;
    },

    show() {
      this.$refs.editPolicy.show();
    },
  },

};
</script>
