<template>
  <div>
    <j-title-header :options="title"/>
    <jGoalsList/>
    <div class="create-goal float-to-right">
      <label
        class="btn blue"
        style="cursor:pointer"
        @click="$router.replace('/config/goals/create')">
        + Add Goal
      </label>
    </div>
    <router-view/>
  </div>
</template>

<script>
import jGoalsList from '@/views/config/goals/list-goals/jGoalsList';


export default {
  // eslint-disable-next-line
  name: 'jGoals',
  components: {
    jGoalsList,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'GOALS',
        opt_title: 'Administrator',
      },
    };
  },
};
</script>
