<template>
  <div class="custom-search-table">
    <v-server-table
      v-show="load_first"
      ref="reminderServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick">

      <div
        slot="beforeFilter"
        class="custom-search m__b--10">
        <b-row>
          <b-col cols="7">
            <j-input
              v-model="filter_reminder"
              @keyup.13.native="customFilter(filter_reminder)"/>
          </b-col>
          <b-col
            class="p__l--10"
            cols="5">
            <b-button
              class="btn blue outline"
              @click="customFilter(filter_reminder)">
            <i class="fa fa-search bold" /> Search </b-button>
          </b-col>
        </b-row>
      </div>

      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        slot="reminder"
        slot-scope="props">
        <div
          v-for="(reminder, index) in props.row.reminders"
          :key="index">
          {{ reminder.value + ' ' + periodToString(reminder.type) }}
        </div>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <br><br><br><br>

    <jDeleteReminder
      ref="floating"
      :selected-rows="selected_rows"
      @finish="reminderDeleted"
      @close-floating="closeFloating" />
  </div>
</template>

<script>
import jDeleteReminder from '@/views/config/activity-type/reminder/delete-reminder/jDeleteReminder';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import { jMixPaginationReminder } from '@/mixins/paginations/reminder/jMixPaginationReminder';
import constant from '@/constant/constant';

export default {
  components: {
    jDeleteReminder,
    jLoadingTable,
  },
  mixins: [
    jMixPaginationReminder,
  ],
  methods: {
    reminderDeleted() {
      this.selected_rows = [];
      this.refreshTable();
    },
    periodToString(index) {
      let string = '';
      if (index === constant.PeriodTypeMinutes) {
        string = 'Minutes';
      } else if (index === constant.PeriodTypeHours) {
        string = 'Hours';
      } else if (index === constant.PeriodTypeDays) {
        string = 'Days';
      } else if (index === constant.PeriodTypeWeeks) {
        string = 'Weeks';
      } else if (index === constant.PeriodTypeMonths) {
        string = 'Months';
      }
      return string;
    },
    onRowClick(data) {
      this.$router.replace(`/config/activity-type/reminder/edit/${data.row.id}`);
    },
    closeFloating() {
      this.selected_rows = [];
    },
  },
};
</script>
