<template>
  <div>
    <div
      v-for="(industry, index) in industry_state.industry_list"
      :key="index"
      class="row">
      <div class="col-2"/>
      <div
        class="col-8 m__b--5 m__t--10"
        style="border: 1px solid; border-radius: 10px; padding: 15px;">
        {{ industry.name }}
        <b-button
          class="float-right btn red outline btn-round-21">
          <i
            class="fa fa-times"
            style="cursor: pointer; color: red"
            @click="deleteData(industry.id)"/>
        </b-button>
        <b-button
          class="float-right btn orange outline btn-round-21 m__r--10">
          <i
            class="fa fa-pencil"
            style="cursor: pointer; color: orange"
            @click="$router.replace(`/config/industry/edit/${industry.id}`)"/>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { jMixModelDeleteIndustry } from '@/mixins/models/industry/jMixModelDeleteIndustry';
import { mapActions, mapState } from 'vuex';

export default {
  // eslint-disable-next-line
  name: 'jIndustryList',
  mixins: [
    jMixModelDeleteIndustry,
  ],
  computed: {
    ...mapState('jStoreIndustry', ['industry_state', 'data_changed']),
  },
  watch: {
    data_changed(val) {
      if (val) {
        this.getListIndustry();
        this.setDefaultDataChanged();
        this.$router.replace('/config/industry');
      }
    },
  },
  mounted() {
    this.getListIndustry();
  },
  methods: {
    ...mapActions('jStoreIndustry', ['getListIndustry', 'setDefaultDataChanged']),
  },
};
</script>
