<template>
  <div>
    <div class="form-header row">
      <div
        class="col-6"
        style="text-align: left">
        Stage {{ stage_data.position }}
      </div>
      <div
        class="col-6">
        <i
          class="fa fa-times"
          style="float:right;cursor:pointer"
          @click="deleteThisStage"/>
      </div>
    </div>
    <div class="form-content row">
      <b-form-group
        :class="{'error-input' : $v.stage_data.name.$error}"
        class="col-12">
        <label>Name*</label>
        <j-input
          v-model="$v.stage_data.name.$model"
          :max-length="50"
          placeholder="Name"/>
      </b-form-group>
      <b-form-group
        :class="{'error-input' : $v.stage_data.color.$error}"
        class="col-6">
        <label>Color*</label>
        <j-single-select
          v-model="$v.stage_data.color.$model"
          :options="color_options"
          label="name"
          value-format="id"
          placeholder="Select Color"/>
      </b-form-group>
      <b-form-group
        :class="{'error-input' : $v.stage_data.icon.$error}"
        class="col-6">
        <label>Icon</label>
        <j-single-select
          v-model="$v.stage_data.icon.$model"
          :options="icon_options"
          :custom="true"
          placeholder="Select Icon">
          <template
            slot-scope="node"
            slot="node-custom">
            <img
              :src="require(`@/assets/icon/${ node.node.id }.png`)"
              style="width:20px;height:20px;margin:5px;">

          </template>

          <template
            slot-scope="node"
            slot="node-custom">
            <img
              :src="require(`@/assets/icon/${ node.node.id }.png`)"
              style="width:20px;height:20px;margin:5px;">

          </template>
        </j-single-select>
      </b-form-group>
      <b-form-group
        :class="{'error-input' : $v.stage_data.activity_type.$error}"
        class="col-12">
        <label>Activity Type*</label>
        <j-multi-select
          v-model="$v.stage_data.activity_type.$model"
          :is-async="true"
          :load-options="loadActivityTypeOptions"
          :default-options="activity_type_options.length > 0 ?
          activity_type_options : false"
          label="name"
          value-format="object"
          placeholder="Type Activity Type Name"/>
      </b-form-group>
    </div>
  </div>
</template>

<script>
import { jMixValidationFormStage } from '@/mixins/validations/stage/jMixValidationFormStage';
import { mapState } from 'vuex';
import { jMixOptionsFormStage } from '@/mixins/list-options/stage/jMixOptionsFormStage';

export default {
  mixins: [
    jMixValidationFormStage,
    jMixOptionsFormStage,
  ],
  props: {
    stage: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      stage_data: null,
    };
  },
  computed: {
    ...mapState('jStoreStage', ['stage_sales_state', 'activity_type_options']),
  },
  beforeMount() {
    this.fillForm();
  },
  methods: {
    persist() {
      const data = {
        index: this.stage.index,
        stage: this.stage_data,
      };
      this.$emit('persist', data);
    },
    fillForm() {
      this.stage_data = this.stage.stage;
    },
    deleteThisStage() {
      this.stage_data.is_delete = true;
      this.persist();
    },
  },
};
</script>
