<template>
  <div class="m__t--30">
    <div class="create-product float-to-right">
      <b-button
        class="btn blue"
        @click="$router.replace('/config/product/create')">
        CREATE PRODUCT
      </b-button>
    </div>
    <jProductList/>
  </div>
</template>

<script>
import jProductList from './list-product/jProductList';

export default {
  // eslint-disable-next-line
  name: 'jProduct',
  components: {
    jProductList,
  },
};
</script>
