<template>
  <div>
    <b-modal
      ref="editSource"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/source')"/>
        </div>
      </div>

      <jSourceForm
        ref="form"
        mode="edit"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveEditSource">
        SUBMIT
      </b-button>
      <b-button
        class="btn red"
        @click="deleteData">
        DELETE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jSourceForm from '@/components/form/source/jSourceForm';
import { jMixModelEditSource } from '@/mixins/models/source/jMixModelEditSource';
import { jMixModelDeleteSource } from '@/mixins/models/source/jMixModelDeleteSource';

export default {
  components: {
    jSourceForm,
  },

  mixins: [
    jMixModelEditSource,
    jMixModelDeleteSource,
  ],

  data() {
    return {
      source_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveEditSource() {
      this.$refs.form.save();
      if (this.source_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.source_data = data;
    },

    show() {
      this.$refs.editSource.show();
    },
  },

};
</script>
