<template>
  <div class="row justify-content-center">
    <div class="col-8 m--20">
      <div class="row">
        <div class="col-6">
          <label>Start Date*</label>
          <j-datepicker
            v-model="report_data.start_date"
            :disabled="false"
            format="MMM dd, yyyy"/>
        </div>
        <div class="col-6">
          <label>End Date*</label>
          <j-datepicker
            v-model="report_data.end_date"
            :disabled="false"
            format="MMM dd, yyyy"/>
        </div>
        <div class="col-12">
          <label>Source</label>
          <div style="font-size: 10px">
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="selectAllData">
              Select All
            </a>
            |
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="unselectAllData">
              Unselect All
            </a>
          </div>
          <j-multi-select
            :options="list_options.source"
            v-model="report_data.source"
            value-format="object"/>
        </div>
        <div class="col-12">
          <label>Industry</label>
          <div style="font-size: 10px">
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="selectAllData">
              Select All
            </a>
            |
            <a
              style="color: #42A5CE; cursor: pointer;"
              @click="unselectAllData">
              Unselect All
            </a>
          </div>
          <j-multi-select
            :options="list_options.industry"
            v-model="report_data.industry"
            value-format="object"/>
        </div>
        <div class="col-12">
          <b-button
            class="btn blue"
            style="float: right"
            @click="downloadReport">
            DOWNLOAD
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';

export default {
  // eslint-disable-next-line
  name: 'jReportLead',
  data() {
    return {
      report_data: {
        start_date: new Date(),
        end_date: new Date(),
        source: [],
        industry: [],
      },
    };
  },
  computed: {
    ...mapState('jStoreReport', ['list_options', 'url']),
  },
  watch: {
    url(val) {
      if (val !== '') {
        window.open(val, '_blank');
        this.setDefaultUrl();
      }
    },
  },
  methods: {
    ...mapMutations('jStoreReport', ['setDefaultUrl']),
    ...mapActions('jStoreReport', ['getReportLead']),
    getData() {
      // console.log('get data');
    },
    selectAllData() {
      // console.log('select all');
    },
    unselectAllData() {
      // console.log('unselect all');
    },
    downloadReport() {
      this.getReportLead(this.report_data);
    },
  },
};
</script>
