<template>
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>
        <i
          class="fa fa-arrow-left"
          style="cursor:pointer"
          @click="backToLeadsList"/>
        Detail Lead
      </h2>
    </div>

    <jLeadsForm
      ref="form"
      mode="detail"/>

    <div class="col-10">
      <v-client-table
        v-show="load_first"
        :data="data_table"
        :columns="columns"
        :options="options"
        class="jTable"
        @row-click="onRowClick">
        <div
          slot="add_detail"
          slot-scope="props"
          @click.stop>
          <b-button
            v-if="props.row.show_toggle_detail"
            class="btn light-grey outline btn-round-33"
            @click="toggleDetail(props.row)">
            <i
              :class="(props.row.add_detail) ? 'fa-minus' : 'fa-plus'"
              class="fa"
              style="cursor: pointer; color: grey"/>
          </b-button>
        </div>

        <div
          slot="opportunity"
          slot-scope="props">
          <div>
            {{ props.row.name }}
          </div>
        </div>

        <div
          slot="sales"
          slot-scope="props">
          <div>
            {{ props.row.user.profile.first_name }} {{ props.row.user.profile.last_name }}
          </div>
        </div>

        <div
          slot="pic_list"
          slot-scope="props">
          <div
            v-if="props.row.pic_list.length > 1">
            <div
              v-for="(name, index) in props.row.pic_list"
              :key="index">
              {{ index + 1 }}. {{ name }}
            </div>
          </div>
          <div
            v-else>
            {{ props.row.pic_list[0] }}
          </div>
        </div>

        <div
          slot="product_list"
          slot-scope="props">
          <div
            v-if="props.row.product_list.length > 1">
            <div
              v-for="(name, index) in props.row.product_list"
              :key="index">
              {{ index + 1 }}. {{ name }}
            </div>
          </div>
          <div
            v-else>
            {{ props.row.product_list[0] }}
          </div>
        </div>

        <div
          slot="status"
          slot-scope="props">
          <div
            v-if="typeof props.row.activity !== 'undefined'">
            {{ props.row.activity.status === 'process' ? 'On Going'
            : props.row.activity.status === 'win' ? 'Win' : 'Lost' }}
          </div>
        </div>
      </v-client-table>
    </div>
  </div>
</template>

<script>
import jLeadsForm from '@/components/form/leads/jLeadsForm';
import { jMixPaginationOpportunityByLeads } from '@/mixins/paginations/opportunity/jMixPaginationOpportunity';

export default {
  components: {
    jLeadsForm,
  },

  mixins: [
    jMixPaginationOpportunityByLeads,
  ],

  methods: {
    backToLeadsList() {
      this.$router.replace('/sales/leads');
    },
    onRowClick(data) {
      this.$router.replace(`/sales/opportunity/detail/${data.row.id}`);
    },
    toggleDetail(data) {
      /* eslint-disable-next-line */
      data.add_detail = !data.add_detail;
      if ((data.pic_list.length === 1) && (data.product_list.length === 1)) {
        /* eslint-disable-next-line */
        data.pic_list = [];
        /* eslint-disable-next-line */
        data.product_list = [];

        data.activity.pic.forEach((element) => {
          data.pic_list.push(element.detail.name);
        });

        data.activity.product.forEach((element) => {
          data.product_list.push(element.name);
        });
      } else {
        /* eslint-disable-next-line */
        data.pic_list = [data.activity.pic[0].detail.name];
        /* eslint-disable-next-line */
        data.product_list = [data.activity.product[0].name];
      }
    },
  },

};
</script>
