<template>
  <div class="custom-search-table">
    <v-server-table
      v-show="load_first"
      ref="policyServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick">

      <div
        slot="beforeFilter"
        class="custom-search m__b--10">
        <b-row>
          <b-col cols="7">
            <j-input
              v-model="filter_policy"
              @keyup.13.native="customFilter(filter_policy)"/>
          </b-col>
          <b-col
            class="p__l--10"
            cols="5">
            <b-button
              class="btn blue outline"
              @click="customFilter(filter_policy)">
            <i class="fa fa-search bold" /> Search </b-button>
          </b-col>
        </b-row>
      </div>

      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        slot="win"
        slot-scope="props">
        {{ props.row.policies.some(p => p.policy == win) ? 'Yes' : 'No' }}
      </div>

      <div
        slot="close"
        slot-scope="props">
        {{ props.row.policies.some(p => p.policy == close) ? 'Yes' : 'No' }}
      </div>

      <div
        slot="product"
        slot-scope="props">
        {{ props.row.policies.some(p => p.policy == product) ? 'Yes' : 'No' }}
      </div>

      <div
        slot="template"
        slot-scope="props">
        {{ props.row.policies.some(p => p.policy == template) ? 'Yes' : 'No' }}
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <br><br><br><br>

    <jDeletePolicy
      ref="floating"
      :selected-rows="selected_rows"
      @finish="policyDeleted"
      @close-floating="closeFloating" />
  </div>
</template>

<script>
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import { jMixPaginationPolicy } from '@/mixins/paginations/policy/jMixPaginationPolicy';
import constant from '@/constant/constant';
import jDeletePolicy from '@/views/config/activity-type/policy/delete-policy/jDeletePolicy';

export default {
  components: {
    jDeletePolicy,
    jLoadingTable,
  },
  mixins: [
    jMixPaginationPolicy,
  ],
  data() {
    return {
      win: constant.PolicyWinningActivity,
      close: constant.PolicyCloseActivity,
      product: constant.PolicyRequiresProduct,
      template: constant.PolicyRequiresDocumentTemplate,
    };
  },
  methods: {
    policyDeleted() {
      this.selected_rows = [];
      this.refreshTable();
    },
    onRowClick(data) {
      this.$router.replace(`/config/activity-type/policy/edit/${data.row.id}`);
    },
    closeFloating() {
      this.selected_rows = [];
    },
  },
};
</script>
