<template>
  <div>
    <j-title-header :options="title"/>
    <j-tabs :tabs="tabs">
      <div
        id="containertabsReport"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component :is="i.comp.name"/>
        </div>
      </div>
    </j-tabs>
    <router-view/>
  </div>
</template>

<script>
import jReportActivity from '@/views/report/activity/jReportActivity';
import jReportOpportunity from '@/views/report/opportunity/jReportOpportunity';
import jReportLead from '@/views/report/lead/jReportLead';
import { mapActions } from 'vuex';


export default {
  // eslint-disable-next-line
  name: 'jGlobalReport',
  components: {
    jReportActivity,
    jReportOpportunity,
    jReportLead,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'Report',
        opt_title: 'Administrator',
      },
      tabs: [
        {
          idTab: 'tab-report-activity', title: 'Activity', idComp: 'comp-report-activity', comp: jReportActivity, isShow: true,
        },
        {
          idTab: 'tab-report-opportunity', title: 'Opportunity', idComp: 'comp-report-opportunity', comp: jReportOpportunity, isShow: true,
        },
        {
          idTab: 'tab-report-lead', title: 'Lead', idComp: 'comp-report-lead', comp: jReportLead, isShow: true,
        },
      ],
    };
  },
  mounted() {
    this.initListOptions();
  },
  methods: {
    ...mapActions('jStoreReport', ['initListOptions']),
  },
};
</script>
