<template>
  <div>
    <j-title-header :options="title"/>
    <j-tabs :tabs="tabs">
      <div
        id="containertabsStage"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component :is="i.comp.name"/>
        </div>
      </div>
    </j-tabs>
    <router-view/>
  </div>
</template>

<script>
import jStageLg from '@/views/config/stage/lead-generation/jStageLg';
import jStageSales from '@/views/config/stage/sales/jStageSales';
import { mapState, mapActions } from 'vuex';


export default {
  // eslint-disable-next-line
  name: 'jGlobalProduct',
  components: {
    jStageLg,
    jStageSales,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'STAGE',
        opt_title: 'Administrator',
      },
      tabs: [
        {
          idTab: 'tab-sales', title: 'Sales', idComp: 'comp-sales', comp: jStageSales, isShow: true,
        },
        {
          idTab: 'tab-lg', title: 'Lead Generation', idComp: 'comp-lg', comp: jStageLg, isShow: true,
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreStage', ['data_changed']),
  },
  watch: {
    data_changed(val) {
      if (val) {
        this.getStageList();
        this.setDefaultDataChanged();
        this.$router.replace('/config/stage');
      }
    },
  },
  mounted() {
    this.getStageList();
  },
  methods: {
    ...mapActions('jStoreStage', ['getStageList', 'setDefaultDataChanged']),
  },
};
</script>
