<template>
  <div class="custom-search-table">
    <v-server-table
      v-show="load_first"
      ref="activityTypeServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick">

      <div
        slot="beforeFilter"
        class="custom-search m__b--10">
        <b-row>
          <b-col cols="7">
            <j-input
              v-model="filter_activity_type"
              @keyup.13.native="customFilter(filter_activity_type)"/>
          </b-col>
          <b-col
            class="p__l--10"
            cols="5">
            <b-button
              class="btn blue outline"
              @click="customFilter(filter_activity_type)">
            <i class="fa fa-search bold" /> Search </b-button>
          </b-col>
        </b-row>
      </div>

      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        slot="date"
        slot-scope="props">
        {{ props.row.created_date }} {{ props.row.updated_date === '' ?
        '' : '-- ' + props.row.updated_date }}
      </div>

      <div
        slot="policy"
        slot-scope="props">
        {{ props.row.activity_type_policy_block_name }}
      </div>

      <div
        slot="reminder"
        slot-scope="props">
        {{ props.row.activity_type_reminder_block_name }}
      </div>
    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <br><br><br><br>

    <jDeleteActivityType
      ref="floating"
      :selected-rows="selected_rows"
      @finish="activityTypesDeleted"
      @close-floating="closeFloating" />
  </div>
</template>

<script>
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import { jMixPaginationActivityType } from '@/mixins/paginations/activity-type/jMixPaginationActivityType';
import jDeleteActivityType from '@/views/config/activity-type/main/delete-activity-type/jDeleteActivityType';

export default {
  // eslint-disable-next-line
  name: 'jActivityTypeList',
  components: {
    jDeleteActivityType,
    jLoadingTable,
  },
  mixins: [
    jMixPaginationActivityType,
  ],
  methods: {
    activityTypesDeleted() {
      this.selected_rows = [];
      this.refreshTable();
    },
    onRowClick(data) {
      this.$router.replace(`/config/activity-type/edit/${data.row.id}`);
    },
    closeFloating() {
      this.selected_rows = [];
    },
  },
};
</script>
