<template>
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>
        <i
          class="fa fa-arrow-left"
          style="cursor:pointer"
          @click="backToOpportunityList"/>
        Detail Opportunity
      </h2>
    </div>

    <jOpportunityForm
      ref="form"
      mode="detail"/>
  </div>
</template>

<script>
import jOpportunityForm from '@/components/form/opportunity/jOpportunityForm';

export default {
  components: {
    jOpportunityForm,
  },

  methods: {
    backToOpportunityList() {
      this.$router.replace('/sales/opportunity');
    },
  },

};
</script>
