<script>
/* eslint-disable-next-line */
import { Pie } from 'vue-chartjs';
import { mapState, mapMutations } from 'vuex';

export default {
  /* eslint-disable-next-line */
  name: 'jWinLostPie',
  extends: Pie,
  data() {
    return {
      data: {
        labels: ['Deals', 'Lost'],
        datasets: [
          {
            backgroundColor: ['#42A5CE', '#D2232A'],
            hoverBackgroundColor: ['#42A5CE', '#D2232A'],
            data: [5000000, 5000000],
          },
        ],
      },
      options: {
        title: {
          display: true,
          text: 'Win Lost',
          fontSize: 20,
        },
        onHover: (event) => {
          /* eslint-disable-next-line */
          const elements = this.$data._chart.getElementAtEvent(event);
          /* eslint-disable-next-line */
          event.target.style.cursor = elements.length > 0 ? 'pointer' : 'default';
        },
        onClick: (event) => {
          /* eslint-disable-next-line */
          const index = this.$data._chart.getElementAtEvent(event)[0]._index;
          this.setSelectedWinLostGraph(index);
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    };
  },
  computed: {
    ...mapState('jStoreHome', ['home_state']),
  },
  watch: {
    /* eslint-disable-next-line */
    'home_state.win_lost.data'(val) {
      if (val.length > 0) {
        this.data.datasets[0].data = [];

        val.forEach((item) => {
          this.data.datasets[0].data.push(item.value);
        });

        this.refreshChart();
      }
    },
  },
  mounted() {
    this.refreshChart();
  },
  methods: {
    ...mapMutations('jStoreHome', ['setSelectedWinLostGraph']),
    refreshChart() {
      this.renderChart(this.data, this.options);
    },
  },
};
</script>

<style>

</style>

