<template>
  <div class="custom-search-table">
    <v-server-table
      v-show="load_first"
      ref="leadsServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick">

      <div
        slot="beforeFilter"
        class="custom-search m__b--10">
        <div class="row">
          <div class="col-9 p__r--1">
            <div class="row">
              <div class="col-4">
                <j-select
                  v-model="filter_type"
                  :options="filter_options"
                  placeholder="Filter By"/>
              </div>
              <div class="col-5 p__l--22">
                <j-input
                  v-model="filter_leads"
                  @keyup.13.native="customFilter(filter_leads)"/>
              </div>
            </div>
          </div>
          <div class="col-3 p__l--1">
            <b-button
              class="btn blue outline"
              @click="customFilter(filter_leads)">
            <i class="fa fa-search bold" /> Search </b-button>
          </div>
        </div>
      </div>

      <div
        slot="add_detail"
        slot-scope="props"
        @click.stop>
        <b-button
          v-if="props.row.show_toggle_detail"
          class="btn light-grey outline btn-round-33"
          @click="toggleDetail(props.row)">
          <i
            :class="(props.row.add_detail) ? 'fa-minus' : 'fa-plus'"
            class="fa"
            style="cursor: pointer; color: grey"/>
        </b-button>
      </div>

      <div
        slot="pic_name"
        slot-scope="props">
        <div
          v-if="props.row.pic_name.length > 1">
          <div
            v-for="(name, index) in props.row.pic_name"
            :key="index">
            {{ index + 1 }}. {{ name }}
          </div>
        </div>
        <div
          v-else>
          {{ props.row.pic_name[0] }}
        </div>
      </div>

      <div
        slot="pic_phone"
        slot-scope="props">
        <div
          v-if="props.row.pic_phone.length > 1">
          <div
            v-for="(phone, index) in props.row.pic_phone"
            :key="index">
            {{ index + 1 }}. {{ phone }}
          </div>
        </div>
        <div
          v-else>
          {{ props.row.pic_phone[0] }}
        </div>
      </div>

      <div
        slot="pic_email"
        slot-scope="props">
        <div
          v-if="props.row.pic_email.length > 1">
          <div
            v-for="(email, index) in props.row.pic_email"
            :key="index">
            {{ index + 1 }}. {{ email }}
          </div>
        </div>
        <div
          v-else>
          {{ props.row.pic_email[0] }}
        </div>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import { jMixPaginationLeads } from '@/mixins/paginations/leads/jMixPaginationLeads';

export default {
  // eslint-disable-next-line
  name: 'jLeadsList',
  components: {
    jLoadingTable,
  },
  mixins: [
    jMixPaginationLeads,
  ],
  methods: {
    onRowClick(data) {
      this.$emit('toggleShow', false);
      this.$router.replace(`/sales/leads/detail/${data.row.id}`);
    },
    toggleDetail(data) {
      data.add_detail = !data.add_detail;
      if ((data.pic_name.length === 1) &&
        (data.pic_phone.length === 1) && (data.pic_email.length === 1)) {
        data.pic_name = [];
        data.pic_phone = [];
        data.pic_email = [];

        data.pic.forEach((element) => {
          data.pic_name.push(element.name);
          data.pic_phone.push(element.phone_no);
          data.pic_email.push(element.email);
        });
      } else {
        data.pic_name = [data.pic[0].name];
        data.pic_phone = [data.pic[0].phone_no];
        data.pic_email = [data.pic[0].email];
      }
    },
  },
};
</script>
