<template>
  <div>
    <b-modal
      ref="editIndustry"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/industry')"/>
        </div>
      </div>

      <jIndustryForm
        ref="form"
        mode="edit"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveEditIndustry">
        SUBMIT
      </b-button>
      <b-button
        class="btn red"
        @click="deleteData">
        DELETE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jIndustryForm from '@/components/form/industry/jIndustryForm';
import { jMixModelEditIndustry } from '@/mixins/models/industry/jMixModelEditIndustry';
import { jMixModelDeleteIndustry } from '@/mixins/models/industry/jMixModelDeleteIndustry';

export default {
  components: {
    jIndustryForm,
  },

  mixins: [
    jMixModelEditIndustry,
    jMixModelDeleteIndustry,
  ],

  data() {
    return {
      industry_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveEditIndustry() {
      this.$refs.form.save();
      if (this.industry_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.industry_data = data;
    },

    show() {
      this.$refs.editIndustry.show();
    },
  },

};
</script>
