<template>
  <div>
    <b-form-group :class="{'error-input' : $v.product_data.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="$v.product_data.name.$model"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>

    <b-form-group :class="{'error-input' : $v.product_data.description.$error}">
      <label>Description*</label>
      <j-input
        v-model="$v.product_data.description.$model"
        :max-length="50"
        placeholder="Description"/>
    </b-form-group>

    <div class="row">
      <b-form-group
        :class="{'error-input' : $v.product_data.price.$error}"
        class="col-8">
        <label>Price*</label>
        <j-input
          v-model.number="$v.product_data.price.$model"
          :max-length="50"
          placeholder="Price"/>
      </b-form-group>
      <b-form-group
        :class="{'error-input' : $v.product_data.currency.$error}"
        class="col-4">
        <label>Currency*</label>
        <j-single-select
          v-model="$v.product_data.currency.$model"
          :options="currency_options"
          :disabled="true"
          label="name"
          value-format="id"
          placeholder="Select Currency"/>
      </b-form-group>
    </div>

    <b-form-group :class="{'error-input' : $v.product_data.unit_of_measure_id.$error}">
      <label>Unit of Measure*</label>
      <j-single-select
        v-model="$v.product_data.unit_of_measure_id.$model"
        :options="product_state.measure_list"
        label="name"
        value-format="id"
        placeholder="Select Unit of Measure"/>
    </b-form-group>

    <div class="row">
      <b-form-group
        :class="{'error-input' : $v.product_data.type.$error}"
        class="col-6">
        <label>Type*</label>
        <j-single-select
          v-model="$v.product_data.type.$model"
          :options="product_type_options"
          label="name"
          value-format="id"
          placeholder="Select Type"/>
      </b-form-group>
      <b-form-group
        v-show="parseInt(product_data.type) === subscription_type"
        :class="{'error-input' : $v.product_data.subscription.type.$error}"
        class="col-6">
        <label>Subscription Type*</label>
        <j-single-select
          v-model="$v.product_data.subscription.type.$model"
          :options="period_type_options"
          label="name"
          value-format="id"
          placeholder="Select Subscription Type"/>
      </b-form-group>
    </div>

    <j-singleupload
      :api-token="token"
      :accepted-file-type="['jpg', 'png', 'jpeg', 'bmp']"
      :img-default="image_default"
      class="p__b--20"
      url-upload="//qa-api-core.jojonomic.id/file"
      @url="getIt"/>
  </div>
</template>

<script>
import { jMixValidationFormProduct } from '@/mixins/validations/product/jMixValidationFormProduct';
import { jMixOptionsFormProduct } from '@/mixins/list-options/product/jMixOptionsFormProduct';
import { jMixModeEditProduct } from '@/mixins/mode/product/jMixModeEditProduct';
import Vue from 'vue';
import constant from '../../../constant/constant';

export default {
  mixins: [
    jMixValidationFormProduct,
    jMixOptionsFormProduct,
    jMixModeEditProduct,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      token: Vue.ls.get('Token'),
      subscription_type: constant.ProductTypeSubscription,
      product_data: {
        id: 0,
        name: null,
        description: null,
        price: null,
        unit_of_measure_id: null,
        currency: 'IDR',
        icon: '',
        type: null,
        subscription: {
          type: null,
          value: 1,
        },
      },
    };
  },
  computed: {
    image_default() {
      if (this.product_data.icon.length > 2) {
        return this.product_data.icon;
      }
      return 'http://www.hope3k.net/images/placeholders/team-placeholder.jpg';
    },
  },
  methods: {
    save() {
      this.$v.product_data.$touch();
      if (!this.$v.product_data.$error) {
        this.$emit('data', this.product_data);
      } else {
        this.$emit('data', null);
      }
    },
    getIt(data) {
      this.product_data.icon = data;
    },
  },
};
</script>
