<template>
  <div>
    <b-modal
      ref="createGoals"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"
            @click="$router.replace('/config/goals')"/>
        </div>
      </div>

      <jGoalsForm
        ref="form"
        mode="create"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveCreateGoal">
        CREATE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jGoalsForm from '@/components/form/goals/jGoalsForm';
import { jMixModelCreateGoals } from '@/mixins/models/goals/jMixModelCreateGoals';

export default {
  components: {
    jGoalsForm,
  },

  mixins: [
    jMixModelCreateGoals,
  ],

  data() {
    return {
      goal_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveCreateGoal() {
      this.$refs.form.save();
      if (this.goal_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.goal_data = data;
    },

    show() {
      this.$refs.createGoals.show();
    },
  },

};
</script>
