<template>
  <div>
    <j-title-header :options="title"/>
    <j-tabs :tabs="tabs">
      <div
        id="containertabsActivityType"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component :is="i.comp.name"/>
        </div>
      </div>
    </j-tabs>
    <router-view/>
  </div>
</template>

<script>
import jActivityType from '@/views/config/activity-type/main/jActivityType';
import jPolicy from '@/views/config/activity-type/policy/jPolicy';
import jReminder from '@/views/config/activity-type/reminder/jReminder';


export default {
  // eslint-disable-next-line
  name: 'jGlobalActivityType',
  components: {
    jActivityType,
    jPolicy,
    jReminder,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'ACTIVITY TYPE',
        opt_title: 'Administrator',
      },
      tabs: [
        {
          idTab: 'tab-activity-type', title: 'Activity Type', idComp: 'comp-activity-type', comp: jActivityType, isShow: true,
        },
        {
          idTab: 'tab-policy', title: 'Policy', idComp: 'comp-policy', comp: jPolicy, isShow: true,
        },
        {
          idTab: 'tab-reminder', title: 'Reminder', idComp: 'comp-reminder', comp: jReminder, isShow: true,
        },
      ],
    };
  },
};
</script>
