<template>
  <div class="m__t--30">
    <div class="create-measure float-to-right">
      <b-button
        class="btn blue"
        @click="$router.replace('/config/product/measure/create')">
        CREATE MEASURE
      </b-button>
    </div>
    <jMeasureList/>
  </div>
</template>

<script>
import jMeasureList from './list-measure/jMeasureList';

export default {
  // eslint-disable-next-line
  name: 'jMeasure',
  components: {
    jMeasureList,
  },
};
</script>
