<template>
  <div class="custom-search-table">
    <v-server-table
      v-show="load_first"
      ref="opportunityServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick">

      <div
        slot="beforeFilter"
        class="custom-search m__b--10">
        <div class="row">
          <div class="col-8 p__r--1">
            <div class="row">
              <div class="col-4">
                <j-select
                  v-model="filter_type"
                  :options="filter_options"
                  placeholder="Filter By"/>
              </div>
              <div class="col-4 p__l--56">
                <j-input
                  v-model="filter_opportunity"
                  @keyup.13.native="customFilter(filter_opportunity)"/>
              </div>
            </div>
          </div>
          <div class="col-4 p__l--10">
            <b-button
              class="btn blue outline"
              @click="customFilter(filter_opportunity)">
            <i class="fa fa-search bold" /> Search </b-button>
          </div>
        </div>
      </div>

      <div
        slot="add_detail"
        slot-scope="props"
        @click.stop>
        <b-button
          v-if="props.row.show_toggle_detail"
          class="btn light-grey outline btn-round-33"
          @click="toggleDetail(props.row)">
          <i
            :class="(props.row.add_detail) ? 'fa-minus' : 'fa-plus'"
            class="fa"
            style="cursor: pointer; color: grey"/>
        </b-button>
      </div>

      <div
        slot="opportunity"
        slot-scope="props">
        <div>
          {{ props.row.name }}
        </div>
      </div>

      <div
        slot="company"
        slot-scope="props">
        <div>
          {{ props.row.leads_name }}
        </div>
      </div>

      <div
        slot="sales"
        slot-scope="props">
        <div>
          {{ props.row.user.profile.first_name }} {{ props.row.user.profile.last_name }}
        </div>
      </div>

      <div
        slot="product_name"
        slot-scope="props">
        <div
          v-if="props.row.product_name.length > 1">
          <div
            v-for="(name, index) in props.row.product_name"
            :key="index">
            {{ index + 1 }}. {{ name }}
          </div>
        </div>
        <div
          v-else>
          {{ props.row.product_name[0] }}
        </div>
      </div>

      <div
        slot="product_duration"
        slot-scope="props">
        <div
          v-if="props.row.product_duration.length > 1">
          <div
            v-for="(duration, index) in props.row.product_duration"
            :key="index">
            {{ index + 1 }}. {{ duration }}
          </div>
        </div>
        <div
          v-else>
          {{ props.row.product_duration[0] }}
        </div>
      </div>

      <div
        slot="product_total_amount"
        slot-scope="props">
        <div
          v-if="props.row.product_total_amount.length > 1">
          <div
            v-for="(total_amount, index) in props.row.product_total_amount"
            :key="index">
            {{ index + 1 }}. {{ total_amount }}
          </div>
        </div>
        <div
          v-else>
          {{ props.row.product_total_amount[0] }}
        </div>
      </div>

      <div
        slot="status"
        slot-scope="props">
        <div
          v-if="typeof props.row.activity !== 'undefined'">
          {{ props.row.activity.status === 'process' ? 'Open' : 'Close' }}
        </div>
      </div>

      <div
        slot="won"
        slot-scope="props">
        <div
          v-if="typeof props.row.activity !== 'undefined'">
          {{ props.row.activity.status === 'process' ?
          'On Going' : props.row.activity.status === 'won' ? 'Won' : 'Lost' }}
        </div>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import { jMixPaginationOpportunity } from '@/mixins/paginations/opportunity/jMixPaginationOpportunity';

export default {
  // eslint-disable-next-line
  name: 'jOpportunityList',
  components: {
    jLoadingTable,
  },
  mixins: [
    jMixPaginationOpportunity,
  ],
  methods: {
    onRowClick(data) {
      this.$emit('toggleShow', false);
      this.$router.replace(`/sales/opportunity/detail/${data.row.id}`);
    },
    toggleDetail(data) {
      data.add_detail = !data.add_detail;
      if ((data.product_name.length === 1) &&
        (data.product_duration.length === 1) && (data.product_total_amount.length === 1)) {
        data.product_name = [];
        data.product_duration = [];
        data.product_total_amount = [];

        data.activity.product.forEach((element) => {
          data.product_name.push(element.name);
          data.product_duration.push(element.duration);
          data.product_total_amount.push(element.price * element.total_unit_of_measure);
        });
      } else {
        data.product_name = [data.activity.product[0].name];
        data.product_duration = [data.activity.product[0].phone_no];
        data.product_total_amount = [data.activity.product[0].price
        * data.activity.product[0].total_unit_of_measure];
      }
    },
  },
};
</script>
