<template>
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>Create Lead</h2>
    </div>

    <jLeadsForm
      ref="form"
      @data="getData"/>

    <div class="col-10">
      <b-button
        class="btn blue"
        @click="saveCreateLeads">
        SUBMIT LEAD
      </b-button>
      <b-button
        class="btn gray"
        @click="cancelCreateLeads">
        CANCEL
      </b-button>
    </div>
  </div>
</template>

<script>
import jLeadsForm from '@/components/form/leads/jLeadsForm';
import { jMixModelCreateLeads } from '@/mixins/models/leads/jMixModelCreateLeads';
import { mapState, mapActions } from 'vuex';

export default {
  components: {
    jLeadsForm,
  },

  mixins: [
    jMixModelCreateLeads,
  ],

  data() {
    return {
      leads_data: null,
    };
  },

  computed: {
    ...mapState('jStoreLeads', ['data_changed']),
  },

  watch: {
    data_changed(val) {
      if (val) {
        this.setDefaultDataChanged();
        this.$router.replace('/sales/leads');
      }
    },
  },

  methods: {
    ...mapActions('jStoreLeads', ['setDefaultDataChanged']),

    saveCreateLeads() {
      this.$refs.form.save();
      if (this.leads_data !== null) {
        this.sendData();
      }
    },

    cancelCreateLeads() {
      this.$router.replace('/sales/leads');
    },

    getData(data) {
      this.leads_data = data;
    },
  },

};
</script>
