<template>
  <div class="m__t--30">
    <div class="create-activity-type float-to-right">
      <b-button
        class="btn blue"
        @click="$router.replace('/config/activity-type/create')">
        CREATE ACTIVITY TYPE
      </b-button>
    </div>
    <jActivityTypeList/>
  </div>
</template>

<script>
import jActivityTypeList from './list-activity-type/jActivityTypeList';

export default {
  // eslint-disable-next-line
  name: 'jActivityType',
  components: {
    jActivityTypeList,
  },
};
</script>
