<template>
  <div>
    <j-title-header :options="options"/>
    <div class="row justify-content-center">
      <div
        class="col-11 m__b--10 home-card"
        style="border: 1px solid; border-radius: 10px">
        <div class="row">
          <div class="col-6">
            <j-opportunity-bar class="p__t--10 p__b--10"/>
          </div>
          <div class="col-6">
            <j-opportunity-line class="p__t--10 p__b--10"/>
          </div>
        </div>
      </div>
      <div
        class="col-11 m__b--10 home-card"
        style="border: 1px solid; border-radius: 10px">
        <div class="row">
          <div class="col-6">
            <j-win-lost-pie class="p__t--10 p__b--10"/>
          </div>
          <div class="col-6">
            <j-win-lost-line class="p__t--10 p__b--10"/>
          </div>
        </div>
      </div>
      <div
        class="col-4 m__r--10"
        style="border: 1px solid; border-radius: 10px; height: 450px; overflow-y: auto">
        <j-activity/>
      </div>
      <div
        class="col-7 m__l--10"
        style="border: 1px solid; border-radius: 10px">
        <j-leaderboard/>
      </div>
    </div>
  </div>
</template>

<script>
import jOpportunityBar from '@/components/home/jOpportunityBar';
import jOpportunityLine from '@/components/home/jOpportunityLine';
import jWinLostPie from '@/components/home/jWinLostPie';
import jWinLostLine from '@/components/home/jWinLostLine';
import jActivity from '@/views/home/todayActivity/jActivity';
import jLeaderboard from '@/views/home/leaderboard/jLeaderboard';
import { mapActions } from 'vuex';

/* eslint-disable */
export default {
  name: 'JHome',
  components: {
    jOpportunityBar,
    jOpportunityLine,
    jWinLostPie,
    jWinLostLine,
    jActivity,
    jLeaderboard,
  },
  data() {
    return {
      options: {
        icon: 'fa-user',
        main_title: 'MY HOME',
        opt_title: 'Administrator',
      },
    };
  },
  mounted() {
    this.getOpportunityGraph();
    const end = new Date();
    const start = new Date();
    start.setDate(end.getDate() - 30);
    this.getWinLostGraph({ start_date: start, end_date: end });
  },
  methods: {
    ...mapActions('jStoreHome', ['getOpportunityGraph', 'getWinLostGraph']),
  },
};
</script>
