<template>
  <div
    id="login-html"
    class="login-html">
    <div v-if="!is_cimb">
      <a class="logo-cimb"/>
    </div>
    <div class="login-box">
      <b-link
        v-if="is_cimb"
        href="https://jojonomic.com/"
        target="_blank">
        <b-img :src="logo_company"/>
      </b-link>
      <b-form
        @reset="onReset"
        @keyup.enter="onSubmit">
        <b-form-group>
          <b-form-input
            id="exampleInput1"
            :class="{'error-input' : $v.form.email.$error}"
            :error-message="null"
            :placeholder="is_cimb ? 'Email Address' : 'Username'"
            v-model="$v.form.email.$model"
            type="email"/>
        </b-form-group>
        <b-form-group id="exampleInputGroup2">
          <b-form-input
            id="exampleInput2"
            :type="password_id"
            :error-message="null"
            :class="{'error-input' : $v.form.password.$error}"
            v-model="$v.form.password.$model"
            placeholder="Password"/>
        </b-form-group>
        <b-form-checkbox v-model="show_pass">show password</b-form-checkbox>
        <b-row>
          <b-col
            class="btn-left">
            <b-button
              :class="{'disabled': $v.form.$invalid}"
              variant="primary"
              @click="onSubmit">
              Login
            </b-button>
          </b-col>
          <b-col
            class="btn-right">
            <b-button
              type="reset"
              variant="danger">
              Register
            </b-button>
          </b-col>
        </b-row>
        <b-link
          href="https://jojonomic.com/"
          target="_blank"
          class="forgot_password">
          Forgot Password?
        </b-link>
      </b-form>
    </div>
  </div>
</template>

<script>

import { required, minLength } from 'vuelidate/lib/validators';
import { mapActions } from 'vuex';

export default {
  name: 'JLogin',
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
      show_pass: false,
    };
  },
  validations: {
    form: {
      email: {
        required,
      },
      password: {
        required,
        minLength: minLength(5),
      },
    },
  },
  computed: {
    is_cimb() {
      if (process.env.COMPANY === 'CIMB') {
        return false;
      }
      return true;
    },
    password_id() {
      if (this.show_pass) {
        return 'text';
      }
      return 'password';
    },
    logo_company() {
      // eslint-disable-next-line
      return require('@/assets/logo/jojonomic_text_logo.png');
    },
  },
  methods: {
    ...mapActions('jStoreLogin', ['loginAccount']),
    onSubmit() {
      this.$v.form.$touch();
      if (!this.form.email.match(/^[A-Za-z0-9@.]+$/g)) {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Please input email correctly');
      } else if (!this.$v.form.$error) {
        this.loginAccount(this.form);
      }
    },
    onReset() {
      this.form.email = '';
      this.form.password = '';
    },
  },
};
</script>
