<template>
  <div>
    <div>
      <jStageLgList/>
    </div>
  </div>
</template>

<script>
import jStageLgList from './list-stage-lg/jStageLgList';

export default {
  // eslint-disable-next-line
  name: 'jStageLg',
  components: {
    jStageLgList,
  },
};
</script>
