<!-- Created by Arga Ghulam Ahmad - arga@jojonomic.com -->
<template>
  <div
    id="wrapper"
    class="toggled">

    <!-- header title -->
    <j-headful :title="$route.meta.title"/>

    <!-- header border -->
    <j-header/>

    <!-- sidebar -->
    <j-sidebar
      :logo="logo"
      :responsive-logo="responsiveLogo"
      :menus-items="menusDetails"
      :products-items="productsDetails"/>

    <!-- Page Content -->
    <div
      id="page-content-wrapper"
      style="display: block">

      <!-- navbar -->
      <j-navbar
        :array-of-icon="arrayOfIcon"
        :user="user"/>

      <!-- main content -->
      <div class="wrapper-content">
        <transition name="fadeout">
          <router-view/>
        </transition>
      </div>

    </div>

    <!-- notification screen -->
    <j-loading-screen
      ref="loadingScreen"
      :message="loading_message"/>
    <j-info-screen
      ref="infoScreen"
      :message="info_message"/>
    <j-problem-screen
      ref="problemScreen"
      :message="problem_message"/>
    <j-success-screen
      ref="successScreen"
      :message="success_message"/>

  </div>
</template>

<script>
/* eslint-disable global-require,import/no-duplicates,vue/name-property-casing */
import jMixNotificationScreen from '@/mixins/components/notification-screen/jMixNotificationScreen';
import { jPrivWrapper } from '@/privilage/layouts/jPrivWrapper';
import Vue from 'vue';

export default {
  name: 'jWrapper',
  mixins: [
    jMixNotificationScreen,
    jPrivWrapper,
  ],
  data() {
    return {
      logo: require('../assets/logo/jojonomic_logo.png'),
      responsiveLogo: require('../assets/logo/logo-jojonomicpro.png'),
      menusDetails: [],
      arrayOfIcon: [
        {
          icon: 'credit-card',
          href: '/plugin/timeline',
          color: 'green',
          isShow: true,

        },
        {
          icon: 'th',
          text: '',
          color: 'black',
          isShow: true,
          submenu: {
            title: 'Shortcut',
            menus: [
              {
                id: 1,
                text: 'Create purchase request',
                href: '#',
                isShow: true,
              },
            ],
          },
        },
        {
          icon: 'comment',
          text: '',
          href: 'https://www.amazon.com',
          color: 'red',
          isShow: true,
          submenu: {
            title: 'TICKET',
            menus: [
              {
                id: 1,
                text: 'Create',
                href: '#',
                isShow: true,
              },
              {
                id: 2,
                text: 'Your ticket List',
                href: '#',
                isShow: 'true',
              },
            ],
          },
        },
      ],
      user: {
        submenu: {
          menus: [
            {
              title: 'Account',
              id: 1,
              text: 'Profile',
              href: '/user/profile-page',
            },
            {
              id: 2,
              text: 'Logout',
              href: '/logout',
            },
          ],
        },
      },
    };
  },
  mounted() {
    setInterval(() => {
      if (!Vue.ls.get('Token')) {
        this.$router.replace('/logout');
        window.location = '/';
      }
    }, 1000);
  },
};
</script>
