<template>
  <div>
    <j-title-header :options="title"/>
    <jIndustryList/>
    <div class="create-period float-to-right">
      <label
        class="btn blue"
        style="cursor:pointer"
        @click="$router.replace('/config/industry/create')">
        + Add Industry
      </label>
    </div>
    <router-view/>
  </div>
</template>

<script>
import jIndustryList from './list-industry/jIndustryList';

export default {
  // eslint-disable-next-line
  name: 'jIndustry',
  components: {
    jIndustryList,
  },
  data() {
    return {
      title: {
        icon: 'fa-user',
        main_title: 'INDUSTRY',
        opt_title: 'Administrator',
      },
    };
  },
};
</script>
