<template>
  <div>
    <div>
      <jStageSalesList/>
    </div>
  </div>
</template>

<script>
import jStageSalesList from './list-stage-sales/jStageSalesList';

export default {
  // eslint-disable-next-line
  name: 'jStageSales',
  components: {
    jStageSalesList,
  },
};
</script>
