<template>
  <div class="m__t--30">
    <div class="create-policy float-to-right">
      <b-button
        class="btn blue"
        @click="$router.replace('/config/activity-type/policy/create')">
        CREATE POLICY
      </b-button>
    </div>
    <jPolicyList/>
  </div>
</template>

<script>
import jPolicyList from './list-policy/jPolicyList';

export default {
  // eslint-disable-next-line
  name: 'jPolicy',
  components: {
    jPolicyList,
  },
};
</script>
