<template>
  <div class="m__t--30">
    <div class="create-reminder float-to-right">
      <b-button
        class="btn blue"
        @click="$router.replace('/config/activity-type/reminder/create')">
        CREATE REMINDER
      </b-button>
    </div>
    <jReminderList/>
  </div>
</template>

<script>
import jReminderList from './list-reminder/jReminderList';

export default {
  // eslint-disable-next-line
  name: 'jReminder',
  components: {
    jReminderList,
  },
};
</script>
