<template>
  <div>
    <b-form-group :class="{'error-input' : $v.activity_type_data.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="$v.activity_type_data.name.$model"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>

    <b-form-group :class="{'error-input' : $v.activity_type_data.description.$error}">
      <label>Description*</label>
      <j-input
        v-model="$v.activity_type_data.description.$model"
        placeholder="Description"/>
    </b-form-group>

    <div class="row">
      <div class="col-4">
        <b-form-group :class="{'error-input' : $v.activity_type_data.policy_id.$error}">
          <label>Policy*</label>
          <j-single-select
            v-model="$v.activity_type_data.policy_id.$model"
            :options="activity_type_state.policy_options"
            label="name"
            value-format="id"
            placeholder="Select Policy"/>
        </b-form-group>
      </div>
      <div class="col-4">
        <b-form-group :class="{'error-input' : $v.activity_type_data.reminder_id.$error}">
          <label>Reminder*</label>
          <j-single-select
            v-model="$v.activity_type_data.reminder_id.$model"
            :options="activity_type_state.reminder_options"
            label="name"
            value-format="id"
            placeholder="Select Reminder"/>
        </b-form-group>
      </div>
      <div class="col-4">
        <b-form-group :class="{'error-input' : $v.activity_type_data.form_id.$error}">
          <label>Additional Info</label>
          <j-single-select
            v-model="$v.activity_type_data.form_id.$model"
            :options="additional_info_options"
            label="name"
            value-format="id"
            placeholder="Select Additional Info"/>
        </b-form-group>
      </div>
      <div class="col-4">
        <b-form-group :class="{'error-input' : $v.activity_type_data.icon.$error}">
          <label>Icon</label>
          <j-single-select
            v-model="$v.activity_type_data.icon.$model"
            :options="icon_options"
            :custom="true"
            placeholder="Select Icon">
            <template
              slot-scope="node"
              slot="node-custom">
              <img
                :src="require(`@/assets/icon/${ node.node.id }.png`)"
                style="width:20px;height:20px;margin:5px;">

            </template>

            <template
              slot-scope="node"
              slot="node-custom">
              <img
                :src="require(`@/assets/icon/${ node.node.id }.png`)"
                style="width:20px;height:20px;margin:5px;">

            </template>
          </j-single-select>
        </b-form-group>
      </div>
    </div>
  </div>
</template>

<script>
import { jMixValidationFormActivityType } from '@/mixins/validations/activity-type/jMixValidationFormActivityType';
import { jMixOptionsFormActivityType } from '@/mixins/list-options/activity-type/jMixOptionsFormActivityType';
import { jMixModeEditActivityType } from '@/mixins/mode/activity-type/jMixModeEditActivityType';


export default {
  mixins: [
    jMixValidationFormActivityType,
    jMixOptionsFormActivityType,
    jMixModeEditActivityType,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      activity_type_data: {
        id: 0,
        name: null,
        description: null,
        form_id: null,
        policy_id: null,
        reminder_id: null,
        icon: null,
      },
    };
  },
  methods: {
    save() {
      this.$v.activity_type_data.$touch();
      if (!this.$v.activity_type_data.$error) {
        this.$emit('data', this.activity_type_data);
      } else {
        this.$emit('data', null);
      }
    },
  },
};
</script>
