<template>
  <div>
    <b-modal
      ref="createPolicy"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <div
        class="jback-to-route row"
        @click="$router.replace('/config/activity-type')">
        <div class="col-12">
          <i
            class="fa fa-times"
            style="float:right;cursor:pointer"/>
        </div>
      </div>

      <jPolicyForm
        ref="form"
        mode="create"
        @data="getData"/>

      <b-button
        class="btn blue"
        @click="saveCreatePolicy">
        CREATE
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import jPolicyForm from '@/components/form/policy/jPolicyForm';
import { jMixModelCreatePolicy } from '@/mixins/models/policy/jMixModelCreatePolicy';

export default {
  components: {
    jPolicyForm,
  },

  mixins: [
    jMixModelCreatePolicy,
  ],

  data() {
    return {
      policy_data: null,
    };
  },

  mounted() {
    this.show();
  },

  methods: {
    saveCreatePolicy() {
      this.$refs.form.save();
      if (this.policy_data !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.policy_data = data;
    },

    show() {
      this.$refs.createPolicy.show();
    },
  },

};
</script>
