<template>
  <div
    class="p__t--10 row justify-content-center">
    <div class="col-6">
      <h3>Leaderboard</h3>
    </div>
    <div class="col-6">
      <j-multi-select
        ref="multiCheckSelectTag"
        :options="home_state.leaderboard.activity_type_options"
        :default-data="home_state.leaderboard.default_options"
        v-model="activity_type_list"
        label="name"
        value-format="object"/>
    </div>
    <hr
      class="m--0 m__b--10 col-11"
      style="border: 1px solid">
    <div
      v-if="home_state.leaderboard.stage_list.length > 0"
      class="col-12 m__b--10">
      <j-summary
        :data-summary="home_state.leaderboard.stage_list"
        class="jLeaderboard"
        @summaryBlock="selectStage"/>
    </div>
    <div
      v-for="(user, index) in home_state.leaderboard.list"
      :key="index"
      class="col-12 m__t--10 m__b--10 row">
      <div
        class="profile_container col-1 p__l--20">
        <img
          :src="user.photo"
          class="profile">
      </div>
      <div class="col-11 p__l--30">
        <div class="row">
          <div class="col-5">
            <div style="font-size: 18px"> {{ user.name }} </div>
          </div>
          <div class="col-3">
            <div style="font-size: 14px"> last week </div>
          </div>
          <div class="col-3">
            <div style="font-size: 14px"> this week </div>
          </div>
          <div class="col-1">
            <div style="font-size: 14px">
              <i
                v-if="user.this_week > user.last_week"
                class="fa fa-sort-up"
                style="color:#41AD49"/>
            </div>
          </div>
          <hr
            class="m--0 col-11 m__l--10"
            style="border: 1px solid">
          <div class="col-5">
            <div style="font-size: 14px"> {{ user.position }} </div>
          </div>
          <div class="col-3">
            <div style="font-size: 14px"> {{ user.last_week }} </div>
          </div>
          <div class="col-3">
            <div style="font-size: 14px"> {{ user.this_week }} </div>
          </div>
          <div class="col-1">
            <div style="font-size: 16px">
              <i
                v-if="user.this_week < user.last_week"
                class="fa fa-sort-down"
                style="color:#D2232A"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex';

export default {
  /* eslint-disable-next-line */
  name: 'jLeaderboard',
  data() {
    return {
      options: {
        icon: 'fa-user',
        main_title: 'MY HOME',
        opt_title: 'Administrator',
      },
      activity_type_list: [],
      is_call_leaderboard: true,
      date: new Date(),
    };
  },
  computed: {
    ...mapState('jStoreHome', ['home_state']),
  },
  watch: {
    /* eslint-disable-next-line */
    'home_state.leaderboard.stage_list'(val) {
      if (val.length > 0) {
        this.selectStage(this.home_state.leaderboard.current_stage);
      }
    },
    is_call_leaderboard(val) {
      if (val === false) {
        setTimeout(() => {
          this.is_call_leaderboard = true;
        }, 1000);
      }
    },
    activity_type_list(val) {
      if (val.length > 0) {
        /* eslint-disable-next-line */
        const activity_type_id = [];

        val.forEach((instance) => {
          activity_type_id.push(instance.id);
        });
        if (this.is_call_leaderboard) {
          this.configureActivityType(this.home_state.leaderboard.current_stage, activity_type_id);
          this.is_call_leaderboard = false;
        }
      }
    },
  },
  mounted() {
    this.getStageList();
  },
  methods: {
    ...mapActions('jStoreHome', ['getStageList', 'getLeaderboard']),
    ...mapMutations('jStoreHome', ['configureStage']),
    /* eslint-disable-next-line */
    configureActivityType(data, activity_type_id) {
      const date = this.formatDate(this.date);

      const payload = {
        date,
        stage_id: data.id,
        activity_type_id,
      };

      this.getLeaderboard(payload);
    },
    selectStage(data) {
      this.configureStage(data);
      this.activity_type_list = [];
      this.home_state.leaderboard.activity_type_options.forEach((instance) => {
        this.activity_type_list.push(instance);
      });
    },
    formatDate(d) {
      let month = `${d.getMonth() + 1}`;
      let day = `${d.getDate()}`;
      const year = d.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return `${year}-${month}-${day}`;
    },
  },
};
</script>
